@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body {
  scroll-behavior: smooth;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.offset-border::after {
  content: "";
  height: 2px;
  width: 80%;
  left: 10%;
  position: relative;
  background-color: #003865;
  display: block;
}