@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.offset-border::after {
  content: "";
  height: 2px;
  width: 80%;
  left: 10%;
  position: relative;
  background-color: #003865;
  display: block;
}

#header .swiper-button-prev {
  color: #facc15;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23facc15'%2F%3E%3C%2Fsvg%3E") !important;
}

#header .swiper-button-next {
  color: #facc15;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23facc15'%2F%3E%3C%2Fsvg%3E") !important;
}
