@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.offset-border::after {
  content: "";
  height: 2px;
  width: 80%;
  left: 10%;
  position: relative;
  background-color: #003865;
  display: block;
}

#header .swiper-button-prev {
  color: #facc15;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23facc15'%2F%3E%3C%2Fsvg%3E") !important;
}


#header .swiper-button-next {
  color: #facc15;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23facc15'%2F%3E%3C%2Fsvg%3E") !important;
}

@media screen and (max-width:30em){
  #header .swiper-button-prev {
    background-image: none !important;
  }
  #header .swiper-button-next{
    background-image: none !important;
  }
  #header .swiper-button-prev::after{
    font-size: 2rem;
  }
  #header .swiper-button-next::after{
    font-size: 2rem;
  }
}

.card-primary {
  color: #26e2b3;
  border: 2px solid #26e2b3;
  box-shadow: 0px 0px 10px 0px rgba(38, 226, 179, 0.9);
}

.card-secondary {
  color: #003865;
  border: 2px solid #003865;
  box-shadow: 0px 0px 10px 0px rgba(0, 56, 101, 0.9);
}

.card-fill {
  color: #fff;
  background-color: #003865;
}

#about_us {
  background-image: url('./assets/random1.JPG');
  background-size: cover;
  background-repeat: no-repeat;
}
*[id]{
  scroll-margin-top: 5rem;
}
i{
  text-align: center;
}

.navMenu > span {
  display: block;
  width: 34px;
  height: 2px;
  border-radius: 9999px;
  background-color: black;
}

.navMenu > span:not(:last-child) {
  margin-bottom: 7px;
}

.navMenu,
.navMenu > span {
  transition: all 0.4s ease-in-out;
}

.navMenu.active {
  transition-delay: 0.8s;
  transform: rotate(45deg);
}

.navMenu.active > span:nth-child(2) {
  width: 0%;
}

.navMenu.active > span:nth-child(1),
.navMenu.active > span:nth-child(3) {
  transition-delay: 0.4s;
}

.navMenu.active > span:nth-child(1) {
  transform: translateY(9px);
}

.navMenu.active > span:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}

